* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    min-height: 100%
}

html body {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    background-color: #fafafa;
}
